{% extends 'base.html' %}

{% block title %}
    FilterPRO
{% endblock %}

{% block content %}
<main>
    <form action="/" enctype="multipart/form-data" method="POST">
        <div class="container col-md-6">
            
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-secondary mt-5" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}   
                                     
            <div class="mb-5 mt-3">
                <label for="Image" class="form-label">Upload image</label>
                <div class="d-flex justify-content-between align-items-center">
                    <input class="form-control mr-2" type="file" name="file" autocomplete="off" required>
                    <input type="submit" value="Submit" class="btn btn-primary ml-2">
                </div>
            </div>
        </div>
    </form>

    <div class="container col-md-5">
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-light">Filter 1</button>
            <button type="button" class="btn btn-light">Filter 2</button>
            <button type="button" class="btn btn-light">Filter 3</button>
            <button type="button" class="btn btn-light">Filter 4</button>
            <button type="button" class="btn btn-light">Filter 5</button>
            <button type="button" class="btn btn-light">Reset</button>
        </div>
    </div>

    <div class="container mt-5 d-flex">
        {% if filename %}
            <img src="{{ url_for('display_image', filename=filename) }}" class="img-fluid mx-auto d-block" />
        {% else %}
            <img src="/static/images/original-img.png" class="img-fluid mx-auto d-block" />
            <img src="/static/images/filtered-img.png" class="img-fluid mx-auto d-block" />
        {% endif %}
    </div>

</main>
{% endblock %}